<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Turtle</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Turtle.styles.css" asp-append-version="true"/>
    <link rel="script" href="js/site.js" asp-append-version="true"/>
</head>

<body>
<nav class="sidebar close">
    <header>
        <div class="image-text">
            <span class="image">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAI5JREFUSEvtVkEOgCAMKy/Tn6k/w5dpmjizDOWkjIQ14TIYg9IuJDghOdVFFG7G/BvVx8MJZO0KYDHzGwDGiVrunRaFhYrxqP5d3d01EFrDvjMtQ8wAJkPJDiBfsVpu2KnQ0nh2kr6rqZAYxcWhQWFpcVkKi/26s5NbAxlPXHFjiq3J18dN1VH4cwbcWuYJdlBCH81jE58AAAAASUVORK5CYII="/>
            </span>
            
            <div class="text header-text">
                <span class="name">Turle</span>
                <span class="slogan">By students to students</span>
            </div>
        </div>
        <span class="toggle">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAONJREFUSEvt1u0JwjAUheG3G7iBbqAbqJM4im6im+gIuoEjOIIcSEEkzce9tUFooPRPkoec3hva0Wh0jVxmeLLk/zbqDfAEXrVReU4s9BrgfS3ugW/ANpz0DlThHngBCF9bcA8sz4x7YTM+BmzCc/AKWBa2imK/hPi1JFlwOfgEHAvh2LRB/NfwA9jFejwHK2o9JUNRnz+iHkS1WQ4uAfvi0i2m20wjiY4F66RV6BiwCfXCZtQLq2cPpd/0u1g8xdXf09oz2jKpyvTAfTXrPemPQGmrRed5T2zGZ9gcXe3CZlG/AYrAMh/58DOhAAAAAElFTkSuQmCC"/>
        </span>
    </header>
    <hr class="hr"/>
    <div class="menu-bar">
        <div class="menu">
            <ul class="menu-links ps-0">
                <li>
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAb1JREFUSEvdlk8uBEEUh785ARtrnAALa5wAF8ANEPbYE9wAF8AJsLbACbC24QT4JlVSarozXZORxks6M6mpV9/783td06El67TEZVDwGLASgj4DXkoTGAQs9BYYD7BnYLYUPgh4C9jPMtwGDkqy/lPg1kptRVsR1zzwXtHPm5/q8TRwBYzWAF6BBeC+SQAl4npKRqjubKEzwwZXlbeK0SiZRpvC6f8fvAucAPZWK814AlgF9pr2Q/WeAzqeAmsDgg1asIEv52rPe5yPzAPgmub8agbigakZoCDtOnyq8KnwvWfUcrBOc2HzJnBUUSZbsJOtW07Xc9sADpOAnPOupWAzuwvrx4BOVVYC1t/g18NBznj3BZOC0+gmE1Hl8FKwWnnMq/grwK2VOioyisvS2+vcVHdUePxNUUY1p/vTtnh7ffnlqrYfNn8kGQmdL2uEVre8FJQfR/EtjGV8GVX+y3SzMxln0MN1uAhBOdv51aeP+/0UagLR3O/sf/OpuyS8cy21T8y+MGnM0lHy8QXyzfrdTgZgBj6LDcm2xer49ADjGf3AOctSGkyVuIQ0+veRv0AaJjScbaUZD4f6ecoHh4lnH6dzMgEAAAAASUVORK5CYII="/>    
                        <button  href="#" class="btn btn-link profile-button"><span class="text nav-text">My profile</span></button
                </li>
                <li class="animated-button">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAATBJREFUSEvtltFxwjAMhr9MACOwQekEwAbdoO0EwATABMAEhQ26QTtCu0FHgA16f87JCZ+T+EjcPDR6s5Pok37JsTJ6sqwnLgP4z5T3pX4BNsCk4wh+gB1wKvxa8Bz46Bjou3sEvrRpwVuXbUq2shZnAOeNldIGqXN1h65O0WRRzbUu/jImggPw0CKiKPAC+PQgWs9Sg1cVGU9Tg1v4r/w0KLUy3KegGZ+vxdVob6exq2mb5qmL+xvQ1XvxbyetBX8KDALaXzqvV0DdbU1qjdzGsXBuXtAg8G73Y4c9282lXMaxJpc3t9a7OhG1FgO2v9IzIEjINNY8uwdlE1XRm8CSWDJJxpsaBRzaHlE5NLfl9QxZE1jfyIGyCZ1r36fOuOovVRRwpcWAm8p11/P/B/4F6v1DH0+e1nAAAAAASUVORK5CYII="/>
                    <button href="#" class="btn btn-link chats-button"><span class="text nav-text">Chats</span><span></span><span></span><span></span><span></span> </button>
                </li>
                
                <li class="link">
                    <a href="#">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAdVJREFUSEvtltExBkEQhPuPgAwQASJABIgAGRABMiACZEAEiAAREAIRUN/Vjppbs2v3qPofmKqru4e57Zmd7t6daU4xmxOupgCvSdqQ9CLpXtLrlOJ7ga8lbTsgQHcl3fWC9wCfSDoOAABf6e28B5itXUrbuy9pU9JFKoSu2Y3miIAXU2fM0gdAxKkkuife05uieCzYhataMRHwo6TVSukRcCm9uBM5MF3dplWeCnO7lMRDlEjFbi1IupG0E1VVA96awlZXEJJDbjaiEf4/sJ8xJDuQxLs3mL2522HkcPlWQwr0iF4JQNd7URM3APbyGjlcyUBg7V76i66Nxa01WMc+f+RwNecypypKorEKXO6Lw9WAreqiJBqBlyU9p9wjSWd8l4CZ9UNKPpcEQXqCLo0nENa0DF8GsubA+DTHHlXxTXDyeB9uKSCa8WhkNQMBwPtyC6DleGCsF6XYwTLk1IA/59GDmHK/5UevZTJ7ZMYbedAJx18evwpcuoFEDvcjYJhsdkmHgwxSIDFk4h3OM59c/mk+nbzmotG+JWlYQd7hovyiFCMde6fJF4vs0xwuz4XN6De8/pYMBA3ndy4WptN8IfJM8wZOTvVU67llTlBV+Ze/B/wB4P53H+E5kFcAAAAASUVORK5CYII="/>
                        <span class="text nav-text">Search</span>
                    </a>
                </li>
                
                <li class="link">
                    <a href="#">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAARRJREFUSEvtltENgjAQhj820A10At1A3cAN1MnUDdxAnUCdQEdwBPMbIEBauIYm5YF7aVKO+67Xv+1lJLIsERcLeAbs8gTPwMeTrNXv/7sFvAauOWwD3Dxgq9/wwEvgCGiMYU/gAGgsrVnqCfAGNMa0LzBtA1f3KSZYsWr6aK64Cn4ByrSPqXILlzDbwG0KtibjVfogwVJhjFIXp8O8x9ZyWv1GcK1SrnN8BzQv0z29Aqxz1eDBpbZCXH69wHoGT3mEPaDnzzrXC2xVbZdfcKm7Alq/B4OT7XEysFVILr9RXGWj2HwW9ZI8rDIN9JtXW2NXe6vLouijA2N73dWP6/IpzddXbyN3mZdmSpaGPtaqa3GSgX/2Ymcfz/seqwAAAABJRU5ErkJggg=="/>
                        <span class="text nav-text"> Schedule </span>
                    </a>
                </li>
                <li class="link position-absolute bottom-0 start-0" id="logout">
                    
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAYtJREFUSEvVlu1RAjEQhl8qUDqwA+1AqUA7UDrQDqACpAKwAztQK1AroAWtQOaZuTB3IdnsSW7Q/Xu5fXbf/UhGOpKNjsTVvwOfSjpv1PqU9NVXuT4ZX0m6lXQjCXDbAD9LepL06gnCA76QtJAE2GOAHyR9WIdL4LsGGmdYCgAFgK9zBy0w0FWJUPg+zcFzYOR9PxDK72Q+ScmeA1OnywpgXOALeMdSYJroxYAum0YL4+SJD3Cn21NgxuLa8DaXNGtqx3h5jDGjZ3aWAlOXEweYI94GxOfYAjM2ZGwZI9IeExoRGa1g8Qd4t+FKc+yRkTMEDNyqe6fONcE0JNnnzAQHqX8MBzRKLDXQ0nYrSj1Ec33HgaWkJhtrTAYbJ88CYatZ9Ywr5VogYc3VWplvqSs119VnkjbeWTLOUVsU3Lub/9y1GJJgJT46tlKcNJne//YhEJzRRMC9NaemQA96+rQzoVYowGMv3stkyI5nFKs99lK9w5YK40Rmgz5vKzS5fR9XBeSc1bqdege7Bc3QSR8WFzmHAAAAAElFTkSuQmCC"/>
                        <button href="#" class=""<span class="text nav-text">Logout </span>
                   
                </li>
                
            </ul>
        </div>
    </div>
</nav>
<body>
<container>
    <div class="content">
        @RenderBody()
    </div>
</container>
</body>
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - Turtle - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>